port 700${NO}
bind 0.0.0.0
protected-mode no
daemonize no
requirepass pass@word1
masterauth pass@word1
appendonly yes
cluster-enabled yes
cluster-config-file nodes.conf
cluster-node-timeout 15000
cluster-announce-ip ${EXTERNAL_IP}
cluster-announce-port 700${NO}
cluster-announce-bus-port 1700${NO}